<div
  class="max-w-xs md:max-w-xl lg:max-w-5xl xl:max-w-7xl mx-auto py-16 text-white"
>
  <div class="flex flex-col md:flex-row gap-10 items-center md:items-start">
    <div class="w-full xl:w-1/3 space-y-4">
      <div class="flex justify-between items-center">
        <span class="w-24 h-5 bg-slate-800 animate-pulse rounded-full"></span>

        <span class="w-10 h-5 bg-white animate-pulse rounded-full"></span>
      </div>

      <div class="w-full h-64 animate-pulse bg-slate-800 rounded-lg"></div>
    </div>
    <div class="w-full">
      <h2 class="font-bold text-lg mb-4">Ingredienti</h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 w-full place-items-center"
      >
        <div class="w-40">
          <span class="bg-slate-800 w-40 h-52 animate-pulse"></span>
          <span class="w-20 bg-white h-20 animate-pulse rounded-full"></span>
        </div>
      </div>
      <div class="w-full mt-10">
        <h3 class="text-lg font-bold mb-4">Istruzioni</h3>
        <p
          class="p-16 bg-slate-700 w-full rounded-lg shadow-inner animate-pulse"
        ></p>
      </div>
    </div>
  </div>
</div>
