<div
  class="max-w-xs md:max-w-xl lg:max-w-5xl xl:max-w-7xl mx-auto py-16 text-white"
>
  <div
    class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 w-full place-items-center"
    *ngIf="isLoading"
  >
    <!-- caricamento skeleton-->
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
    <div class="w-64 h-[18.25rem] bg-slate-800 animate-pulse rounded-lg"></div>
  </div>
  <div
    *ngIf="!isLoading"
    class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 w-full place-items-center"
  >
    <app-drink-card
      *ngFor="let drink of drinks"
      [drink]="drink"
    ></app-drink-card>
  </div>
  <ul
    class="flex space-x-4 uppercase mt-10 justify-center w-full font-semibold flex-wrap"
  >
    <li
      *ngFor="let letter of alphabet"
      class="text-xl cursor-pointer"
      [ngClass]="{ 'text-yellow-500': letter === selectedLetter }"
      (click)="onLetterClick(letter)"
    >
      {{ letter }}
    </li>
  </ul>
</div>
